.App {
  text-align: center;
}

.MainBody { grid-area: MainBody; background-color: blueviolet; }

.LeftBar { grid-area: LeftBar; background-color: greenyellow; }

.Image { grid-area: Image;}

.TopBar { grid-area: TopBar; background-color: lightblue; }




.container {  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.2fr 0.7fr 2.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "TopBar TopBar"
    "Image Image"
    "LeftBar MainBody";
}

