.App {
  text-align: center;
}

.MainBody {
  grid-area: MainBody;
  background-color: pink;
}

.LeftBar {
  grid-area: LeftBar;
  background-color: lightblue;
  text-align: center;
}

.Image {
  grid-area: Image;
}

.TopBar {
  grid-area: TopBar;
  background-color: lightblue;
  text-align: right;
}

.container {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: auto auto 1.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "TopBar TopBar"
    "Image Image"
    "LeftBar MainBody";

  height: 100vh;
}
