.image-container {
  width: 100%;
  height: 40vh;
  background-image: url("./media/pexels-panos-and-marenia-stavrinos-9648231.jpg"); /* Path to image file */
  background-position: center bottom;
  background-size: cover;
}
